.home-page{
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-page-menu-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 75px;
}

.home-page .home-page-title{
  font-family: Poppins, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
text-transform: capitalize;
}

.home-page .home-page-menu ul,
.home-page .home-page-menu ul > li,
.home-page .home-page-menu ul > li > a{
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.home-page .home-page-menu ul{
  gap: 10px;
}

.home-page .home-page-menu ul > li > a{
  display: flex;
  gap: 5px;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid transparent;
}

.home-page .home-page-menu ul > li > a.active,
.home-page .home-page-menu ul > li > a:active,
.home-page .home-page-menu ul > li > a:focus,
.home-page .home-page-menu ul > li > a:hover{
  background-color: var(--first-color-light);
  border: 1px solid var(--first-color-light-border);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.home-page .home-page-menu ul > li > a.active > span,
.home-page .home-page-menu ul > li > a:active > span,
.home-page .home-page-menu ul > li > a:focus > span,
.home-page .home-page-menu ul > li > a:hover > span,
.home-page .home-page-menu ul > li > a.active > label,
.home-page .home-page-menu ul > li > a:active > label,
.home-page .home-page-menu ul > li > a:focus > label,
.home-page .home-page-menu ul > li > a:hover > label,
.home-page .home-page-menu ul > li > a.active [class^="icon-"]::before, [class*=" icon-"]::before,
.home-page .home-page-menu ul > li > a:active [class^="icon-"]::before, [class*=" icon-"]::before,
.home-page .home-page-menu ul > li > a:focus [class^="icon-"]::before, [class*=" icon-"]::before,
.home-page .home-page-menu ul > li > a:hover [class^="icon-"]::before, [class*=" icon-"]::before{
  color: var(--first-color-primary);
  cursor: pointer;
}

.home-page .home-page-menu ul > li > a.dropdown-item.active,
.home-page .home-page-menu ul > li > a.dropdown-item:active,
.home-page .home-page-menu ul > li > a.dropdown-item:focus,
.home-page .home-page-menu ul > li > a.dropdown-item:hover{
  border-color: transparent;
}

.home-page .home-page-menu ul > li .icon-color-pallete{
  font-size: 20px;
}

.home-row{
  height: calc(100% - 75px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-row .home-content-panel{
  width: 100%;
  height: 100%;
  display: flex;
    align-items: center;
    gap: 50px;
}

.home-row .home-content-social ul,
.home-row .home-content-social ul > li,
.home-row .home-content-social ul > li > a{
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.home-row .home-content-social ul > li > a{
  display: flex;
  gap: 5px;
  text-decoration: none;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid transparent;
}

.home-row .home-content-social ul > li > a > span{
  font-size: 30px;
  color: var(--first-color-primary);
}

.home-row .home-content-social ul > li > a.active,
.home-row .home-content-social ul > li > a:active,
.home-row .home-content-social ul > li > a:focus,
.home-row .home-content-social ul > li > a:hover{
  background-color: var(--first-color-light);
  border: 1px solid var(--first-color-light-border);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.home-row .home-content-caption-panel{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home-row .home-content-caption{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-row .home-content-caption h1{
  color: var(--first-color-primary);
}

.home-row .home-content-caption-panel div.profile-pic{
  border: 20px solid var(--first-color-primary);
  border-radius: 50%;
  box-shadow: 0px 0px 30px #cccccc;
  height: 340px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-row .home-content-caption-panel div.profile-pic > img{
  height: 350px;
  width: 350px;
  clip-path: circle(49%);
}

.home-row .home-content-caption-panel div.profile-pic span.icon-profile-pic{
  font-size: 308px;
  clip-path: circle(49%);
}

.home-row .home-content-caption button{
  margin-top: 50px;
}

.color-pallete{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.about-row{
  height: calc(100% - 75px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.about-row .about-title-content{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.about-row .about-caption-content{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.about-row .about-title-content .title{
  color: var(--first-color-primary);
}

.about-row .about-title-content .caption{
  /* color: #7c8591; */
}

.about-row .about-caption-content .title-image .icon-personal-info{
  font-size: 300px;
}

.about-row .about-caption-content .caption-content{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-row .about-caption-content .caption-content .caption{
  /* color: #818181; */
}

.about-row .about-caption-content .caption-content .features{
  color: #818181;
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-row .about-caption-content .caption-content .features > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-row .about-caption-content .caption-content .features > div h2{
  color: var(--first-color-primary);
}

.about-row .about-caption-content .caption-content .features > div span{
  font-size: 15px;
}

.about-row .about-caption-content .caption-content button{
  margin-top: 30px;
}

.skills-row{
  height: calc(100% - 75px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.skills-row .skills-title-content{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.skills-row .skills-caption-content{
  display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.skills-row .skills-caption-content > div{
  flex: 1;
}

.skills-row .skills-title-content .title{
  color: var(--first-color-primary);
}

.skills-row .skills-title-content .caption{
  /* color: #7c8591; */
}

.skills-row .skills-caption-content .title-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-row .skills-caption-content .title-image .icon-personal-skills{
  font-size: 350px;
}

.skills-row .skills-caption-content .caption-content{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.skills-row .skills-caption-content .caption-content .caption{
  /* color: #818181; */
}

.skills-row .skills-caption-content .caption-content .features{
  color: #818181;
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skills-row .skills-caption-content .caption-content .features > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-row .skills-caption-content .caption-content .features > div h2{
  color: var(--first-color-primary);
}

.skills-row .skills-caption-content .caption-content .features > div span{
  font-size: 15px;
}

.skills-row .skills-caption-content .caption-content button{
  margin-top: 30px;
}

::ng-deep .skills-row a.p-accordion-header-link > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

::ng-deep .skills-row a.p-accordion-header-link > div > div.title{
  font-size: 20px;
  color: var(--first-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

::ng-deep .skills-row a.p-accordion-header-link > div > div.sub-title{
  font-size: 15px;
  color: #818181;
  padding: 0 35px;
  font-weight: normal;
}

::ng-deep .skills-row a.p-accordion-header-link > div > div.title > span{
  font-size: 25px;
}

::ng-deep .skills-row a.p-accordion-header-link > div > div.title span::before{
  color: var(--first-color-primary);
}

::ng-deep .skills-row div.p-accordion-content > div{
  padding: 0 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

::ng-deep .skills-row div.p-accordion-content .progress-panel .progress-title{
  display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: #818181; */
    font-size: 15px;
}

.services-row{
  height: calc(100% - 75px);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.services-row .services-title-content{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.services-row .services-caption-content{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.services-row .services-title-content .title{
  color: var(--first-color-primary);
}

.services-row .services-title-content .caption{
  /* color: #7c8591; */
}

.services-row .services-caption-content .title-image .icon-personal-info{
  font-size: 300px;
}

.services-row .services-caption-content .caption-content{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services-row .services-caption-content .caption-content .caption{
  /* color: #818181; */
}

.services-row .services-caption-content .caption-content .features{
  color: #818181;
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.services-row .services-caption-content .caption-content .features > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-row .services-caption-content .caption-content .features > div h2{
  color: var(--first-color-primary);
}

.services-row .services-caption-content .caption-content .features > div span{
  font-size: 15px;
}

.services-row .services-caption-content .caption-content button{
  margin-top: 30px;
}

.services-row .services-caption-content svg.branding > rect:nth-child(1){
  fill: var(--first-color-light);
}

.services-row .services-caption-content svg.branding > rect:nth-child(5){
  fill: var(--first-color-primary);
}

.services-row .services-caption-content svg.branding > rect:nth-child(6){
  fill: var(--first-color-primary);
}

.services-row .services-caption-content svg.branding > rect:nth-child(11){
  fill: var(--first-color-primary);
}

.services-row .services-caption-content svg.branding > rect:nth-child(12){
  fill: var(--first-color-secondary);
}

::ng-deep p-accordion{
  width: 100%;
}

::ng-deep .p-progressbar{
  height: 10px !important;
}

::ng-deep .p-progressbar .p-progressbar-value{
  background: var(--first-color-primary);
}

::ng-deep a.dropdown-toggle{
  color: var(--first-color-primary);
}

::ng-deep a.dropdown-item{
  border-radius: 0 !important;
  justify-content: flex-start !important;
}

::ng-deep a.dropdown-item:hover,
::ng-deep a.dropdown-item:focus,
::ng-deep a.dropdown-item:active{
  background-color: var(--first-color-light);
  color: var(--first-color-primary);
  border: none;
}
